@media(max-width:1024px){
   
    html{
        height: 100%;
    }

    .main .icons{
        left: auto;
        right: auto;
        bottom: 100px;
    }
    .main{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .main .info .btn{
        align-self: center;
    }
}

@media (max-width:768px){
    .main{
        grid-template-areas:"img"
                            "info"
                            "icons" ;
    } 

    .main .img{
        max-width: fit-content;
        grid-area: img;
    }

    .main .img img{
        max-width: 672px;
    }

    .main .info{
        margin-left: 13px;
        grid-area: info;
    }

    .main .info .btn{
        margin-top: 50px;
    }

    .main .icons{
        grid-area: icons;
        margin-bottom: 50px;
    }
}

@media(max-width:375px){
    html{
        background: url(../images/bg-mobile.svg) top center no-repeat hsl(257, 40%, 49%);
        
    }

    body{
        display: flex;
        flex-direction: column;
    }

    
    
    .header .logo{
        max-width: 120px;
        margin: 30px 37px 20px;

    }

    .main{
        grid-template-rows: min-content 1fr;
        grid-template-columns: 1fr;
        margin-top: 30px;
        text-align: center;
        grid-template-areas: "img"
                            "info"
                            "icons" ;
    }

    .main .img{
        max-height: 207px;
        grid-area: img;
    }
    
    .main .img img{
        max-width: 246px;
        
    }

    .main .info{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: info;
    }

    .main .info h2{
        font-weight: 600;
        font-size: 20px;
    }

    .main .info p{
        font-size: 14px;
    }

    .main .info .btn{
        padding: 10px 30px;
        font-size: 15px;
        text-align: center;
    }


    .main .icons{
        grid-area: icons;
        position: unset;
        display: flex;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .main .icons a i{
        font-size: 15px;
        padding: 10px;
    }
    
}