body{
    background: url(../images/bg-desktop.svg) center center no-repeat hsl(257, 40%, 49%);
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}
h1,h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

p{
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.header .logo{
    max-width: 212px;
    margin: 35px;
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr max-content 50px;
    margin: 0 auto ;
    max-width: 1440px;
}

.main .info{
    display: flex;
    flex-direction: column;
    margin-top: 43px;
    margin-left: 53px;
}

.main .info h2{
    font-weight: 600;
    font-size: 40px;
    color: #fff;
}

.main .info p{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

.main .info .btn{
    background-color: #fff;
    border: none;
    padding: 20px;
    border-radius: 50px;
    width: 200px;
    height: 58px;
    text-align: center;
    color: hsl(257, 40%, 49%);
    font-size: 18px;
    margin-top: 23px;
    transition: 0.3s;
    box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.555);
}

.main .info .btn:hover{
    color: #fff;
    background-color: hsl(300, 69%, 71%);
    cursor: pointer;
}

.main .icons{
    grid-row: 2;
    grid-column:span 2;
   display: flex;
    justify-content: flex-end;
}

.main .icons a:hover i{
    color: hsl(300, 69%, 71%);
    border: solid 1px hsl(300, 69%, 71%);
    cursor: pointer;
}

/* .main .icons a i{
    font-size: 20px;
    padding: 15px;
    border: solid 2px #fff;
    border-radius: 50%;
    color: #fff;
    margin-left: 10px;
    transition: 0.3s;

} */

.main .icons a i {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #fff;
    width: 50px;
    height: 50px;
    color: #fff;
    margin-left: 10px;
}


